.card {
    height: 500px;
    width: 300px;
}
.order{
    display: inline-block;
}

.container{
    float: left;
}

.orderResult {
    height: 500px;
    width: 300px;
    margin: auto;
    padding: 10px;
}



