<!-- Footer -->
<footer class="page-footer-md-2 md-4 font-small pt-4" id="footer">
  <hr>
  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="/signUp" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: RentCar
  </div>
  <!-- Copyright -->
</footer>
