<div class="order col-lg-12" *ngIf="!orderPaid">
  <div class="container col-lg-6">
    <div class="row mb-5">
      <div class="col-lg-6 mx-auto">
        <div class="bg-white p-5 rounded shadow">
          <form action="">
            <h3 class="search">
              SEARCH ORDER
            </h3>
            <div *ngIf="meessage">
              <p color="red">No Such Order Avilable</p>
            </div>
            <!-- Input Order Number-->
            <div class="input-group col-lg-12 mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white px-4 border-md border-right-0">
                  <i class="fa fa-credit-card-alt text-muted"></i>
                </span>
              </div>
              <input required="" id="order" name="order" autofocus="" type="number" #order="ngModel"
                [(ngModel)]="orderId" placeholder="Order Number" class="form-control bg-white border-left-0 border-md "
                class="form-control">
              <span *ngIf="order.invalid && order.touched ">Missing Order ID</span>
            </div>

            <button type="submit" (click)="getOrder()"
              class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">
              <i class="fa fa-search"></i> Search
            </button>
          </form>
          <!-- End -->
        </div>
      </div>
    </div>
  </div>
  <img class="image" *ngIf="!orderedCar" src="/assets/images/spinner.gif" width="200" height="200">

</div>

<!-- Card -->
<div class="card " *ngIf="avilable && !orderPaid">
  <!-- Card image -->
  <div class="view overlay">
    <img class="card-img-top" src="http://localhost:58161/api/Images/{{orderedCar.image}}/" alt="Card image cap">
  </div>
  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">{{orderedCar.manufacturer}} {{orderedCar.model}}</h4>
    <!-- Text -->
    <p>User ID: {{orderedCar.carOrder.idOfUser}}</p>
    <p>Car Number: {{orderedCar.number}}</p>
    <p>Car isOk2Rent: {{orderedCar.isOk2Rent}}</p>
    <p>Days: {{totalDays }}</p>
    <p>car price with those days is : {{((orderedCar.pricePerDay * totalDays) + orderedCar.pricePerDayIfDalay * daysOfLate)  | currency}}</p>

    <div class="control-group">
      <div class="controls">
        <button (click)="payment()" class="btn btn-success">Pay Now</button>
      </div>
    </div>
  </div>
</div>

<div class="OrderPaid" *ngIf="orderPaid">
  <div class="card-body">
    <img src="/assets/images/payment-successful.png">
  </div>
</div>
