<br><br>
<!-- Card -->
<div class="card" display:inline-block>
  <!-- Title -->
  <div class="view overlay">
    <h1> Find Great Deals for Car Rental in Israel. </h1>
  </div>
  <!-- Card content -->
  <div class="card-body">
    Great offers for cheap car rental, daily, weekly long term rentals in Israel. <br>
    Find the cheapest prices online, for your future Car Rental in Israel in easy steps. <br>
    now at the lowest possible rates and see how much you can save! <br>
  </div>
</div>
&nbsp;&nbsp;&nbsp;

<!-- Card -->
<div class="card" display:inline-block>
  <!-- Card content -->
  <div class="card-body">
    <h1>What do I get?</h1>
    Our mission is to help people pick the right rental in Israel. Before you book, <br>
    we will show you everything you need to know. From past customer ratings, what's <br>
    included and pick-up information, we give you all the facts, so that you can make <br>
    the right rental choice for you.<br><br>
  </div>
</div>
&nbsp;&nbsp;&nbsp;

<!-- Card -->
<div class="card" display:inline-block>
  <!-- Card content -->
  <div class="card-body">
    <h1>Exclusive Lowest Prices!</h1>
    We have access to exclusive lowest prices and free add-ons in Israel. Our smart booking<br>
    search engine will ensure that we pass those savings on to you! We will show you the best<br>
    and cheapest price for your rental requirements to help you find your ideal car.<br><br>
  </div>
</div>
&nbsp;&nbsp;&nbsp;

<!-- Card -->
<div class="card" display:inline-block>
  <!-- Card content -->
  <div class="card-body">
    <h1>Expertise!</h1>
    We believe everyone should have a memorable and enjoyable experience with their car rental. <br>
    For that reason we have selected suppliers that are friendly and helpful, reputable and have<br>
    in-depth local knowledge to ensure you get the best out of your rental in Israel.<br>
  </div>
</div>
&nbsp;&nbsp;&nbsp;
